<div *ngIf="showIssues">
    <div class="issues-container container my-4">
        <div class="d-flex justify-content-between align-items-center mb-2" style="max-width: 1000px; margin: auto;">
            <h2 class="text-center">List of Issues</h2>
            <button (click)="createIssue()" class="btn btn-success">Create Issue</button>
        </div>

        <div class="table-container">
            <div class="table-responsive">
                <table class="table table-striped table-bordered border-black">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">S.No</th> 
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr *ngFor="let issue of paginatedData; let i = index">
                            <td>{{ (i + 1) }}</td>
                            <td>{{ issue?.title || '' }}</td>
                            <td>{{ issue?.description || '' }}</td>
                            <td>{{ issue?.status || '' }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button *ngIf="canWrite && issue" (click)="editIssue(issue)" class="btn btn-primary btn-sm" style="margin-right: 10px; border-radius: 0.25rem;">Edit</button>
                                    <button *ngIf="canDelete && issue" (click)="deleteIssue(issue._id)" class="btn btn-danger btn-sm" style="border-radius: 0.25rem;">Delete</button>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let emptyRow of emptyRows">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pagination-controls d-flex justify-content-between align-items-center my-3" style="max-width: 1000px; margin: 0px auto;">
            <button class="btn btn-outline-secondary btn-sm" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
            <span>Page {{ currentPage }} of {{ totalPages }}</span>
            <button class="btn btn-outline-secondary btn-sm" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
        </div>
    </div>
</div>

<div *ngIf="!showIssues">
    <app-issue-form [issue]="selectedIssue" (close)="onFormClose()"></app-issue-form>
</div>
