<div class="roles-management">
    <button (click)="createRole()" class="btn btn-success create-role-btn">Create Role</button>
    
    <div class="roles-content d-flex">
        <app-roles-list 
            (edit)="editRole($event)" 
            (delete)="deleteRole($event)" 
            class="roles-list">
        </app-roles-list>
        
        <app-roles-form 
            *ngIf="showForm" 
            [role]="selectedRole" 
            (close)="onFormClose()" 
            (roleCreatedOrUpdated)="onRoleCreatedOrUpdated()" 
            class="roles-form ms-4">
        </app-roles-form>
    </div>
</div>
