.users-container .pagination-controls {
    max-width: 1000px;
    margin: auto;
}

.users-container h2 {
    flex-grow: 1;
    text-align: center;
}

.users-container .btn-success {
    margin-left: auto;
}

.table-responsive {
    margin-bottom: 1rem;
}

.pagination-controls button {
    width: auto;
}

.pagination-controls span {
    margin: 0 10px;
}


  